<img  src="/muybridge/javascripts/resources/images/001.jpg" class="cat" />
<img  src="/muybridge/javascripts/resources/images/002.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/003.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/004.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/005.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/006.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/007.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/008.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/009.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/010.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/011.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/012.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/013.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/014.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/015.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/016.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/017.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/018.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/019.jpg" class="cat hide" />
<img  src="/muybridge/javascripts/resources/images/020.jpg" class="cat hide" />
<br style="clear:both" />
<input type="range" value="0" class="rangeSelector" /><br/>
<input id="userControl" type="radio" value="userControl" name="state" checked="checked" /><label for="userControl" >User Control</label><br/>
<input id="play" type="radio" value="play" name="state" /><label for="play" >Play</label><br/>
<input id="rewind" type="radio" value="rewind" name="state" /><label for="rewind" >Rewind</label>